<div class="row">
    {{#each activities}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{ title }} <a href="/activities/edit/{{_id}}">
                    <i class="fas fa-edit">
                    </i>
                    </a>
                </h4>
                <p>{{ description }}</p>
                <p><strong>Tipo:</strong> {{ type }}</p>
                <p><strong>Duracion:</strong>{{ duration }}</p>
                <p><strong>Ubicación:</strong>{{ location }}</p>
                <p><strong>Fecha:</strong>{{ date }}</p>
                <p><strong>Capacidad Máxima</strong>{{ maxCapacity }}</p>

                <form action="/activities/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">ELIMINAR</button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hola {{user.name}}</h1>
            <p class="lead"> Aún no hay actividades</p>
            <a href="/activities/add" class="btn btn-success btn-block"> Crear una actividad</a>
        </div>
    </div>
    {{/each}}
</div>